<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
           <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.prophet.com%2Frelevantbrands-2017%2Fwp-content%2Fuploads%2F2016%2F10%2FNpr-logo.png&imgrefurl=https%3A%2F%2Fwww.prophet.com%2Frelevantbrands-2017%2Fbrands%2Fnpr%2Fnpr-logo%2F&docid=NvhrL0MxNospbM&tbnid=rbbQ6PWGIlKriM%3A&vet=10ahUKEwjjlZDrgJDlAhXCnOAKHa3QC7EQMwhyKAQwBA..i&w=250&h=250&bih=874&biw=1665&q=npr%20logo&ved=0ahUKEwjjlZDrgJDlAhXCnOAKHa3QC7EQMwhyKAQwBA&iact=mrc&uact=8">
           <a class="navbar-brand" href="/">NPR News Scrapper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            
        </ul>
        <a class="btn btn-primary navbar-btn" id="scrapeBtn" href="/api/articles/scrape">Scrape New Articles!</a>
    </div>
</nav>